<div class="ui card d-flex m-auto">
    <form class="ui form p-2">
        <div class="ui info required field" *ngIf="noUser" style="border-color: transparent;">
            <label for="name">Enter name</label>
            <input type="text"  id="name" placeholder="Enter name" [formControl]="username">
        </div>
        <button *ngIf="noUser" class="ui positive button d-flex m-auto" type="button" (click)="addUser()">Add User</button>
        <div *ngIf="!noUser&&notSubmitted" id="div" style="border-color: transparent;">
            <div class="ui info required field">
                <label for="Item">Enter Your Item</label>
                <input type="text"  id="item" [formControl]="item" placeholder="Enter item">
            </div>
            <div class="ui info required field">
                <label for="qua">Enter quantity</label>
                <input type="number" id="qua" [formControl]="quantity" placeholder="Enter quantity">
            </div>
            <div class="ui info required field">
                <label for="price">Enter Price</label>
                <input type="number" id="price" placeholder="Enter price" [formControl]="price">
            </div>
            <button class="ui positive button d-flex m-auto" type="button" (click)="addItem()">Add Item</button>
        </div>
    </form>
</div>
<div class="card" *ngIf="submitted">
  <h1>Form Submitted</h1>
</div>

