<!-- <h1>Hello, {{ name }}</h1>
<div *ngIf="goShopping">
    <p>Ready to go shopping :; </p>
</div>

<div class="card d-flex m-auto">
    <form action="" method="post" class="form-control">
        <label for="name">Enter Name</label>
        <input type="text" name="name" id="name" [(ngModel)]="username" class="form-control">
        
        <label for="email">Enter Email</label>
        <input type="email" name="email" id="email" class="form-control" [(ngModel)]="useremail">

        <label for="password">Enter Password</label>
        <input type="password" name="password" id="password" class="form-control" [(ngModel)]="password">

        <label for="cpassword">Confirm Password</label>
        <input type="password" name="confirm-password" id="cpassword" class="form-control" [(ngModel)]="cpassword">      
        <br>
        <input type="submit" value="Submit" class="btn btn-warning">
    </form>
</div>
<br>
<div class="card m-auto d-flex">
<p>{{username}}</p>
<p>{{useremail}}</p>
<p>{{password}}</p>
<p>{{cpassword}}</p>
</div> -->
<div class="card m-auto d-flex" style="border-color: transparent;background-color: transparent;">
    <p>Reactive Forms</p>
    <app-reactive-forms></app-reactive-forms>
</div>

